
liste {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items:center;
    text-align:justify;
    width: 100%;
}

personne {
	 display:flex
	 flex-direction:row;
	 justify-content:center;
	 align-content:center;
	 border-style: solid;
	 border-color: blue;
	 align-items:center;
	 text-align:center;
	 width:400px;
}

nom,prenom{
	font-size: 15px;
	text-transform: capitalize;
	font-weight: bold;
	
}
prenom{
	font-style: italic;
}
